<img style="width: 150%;" src="/img/profile.jpg" class="img-fluid" alt="...">

<!-- <h1 style="margin: 0% 10% 0% 10% ;">Create New Baby Profile</h1> -->

<div style="margin: 2% 10% 20% 10% ;">
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
    
            <a href="/babyprofile/newprofile">
                <button type="button" class="btn btn-outline-secondary">Create New Baby Profile</button>
            </a>
    
        </div>
</div>

<% findBaby.forEach((baby,id)=>{ %>
  
    <div style="display: inline-flex; justify-content: center;">

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            
            <a href="/baby">
              <img src="/img/babyprofile1.jpg" class="card-img-top" alt="...">
            </a>
            
            <div class="card-body">
              <h5 class="card-title">Name: <%=baby.name%></h5>
              <p class="card-text">Gender: <%=baby.gender%></p>
              <p class="card-text">Birthday: <%=baby.dateOfBirth%></p>
      
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <form action='/babyprofile/<%= baby.id %>?_method=DELETE' method="POST">
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
                <a href="/babyprofile/<%= baby.id %>/editBaby">
                  <button type="submit" class="btn btn-outline-warning">Edit</button>
                </a>
      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>

<%  }) %>






