
<div style="display: inline-flex; justify-content: center; padding: 20px; ">
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col">
        <div class="card h-100">
            <a href="/babyprofile">
                <img src="/img/babyinfo.jpg" class="card-img-top" alt="...">
            </a>
          <div class="card-body">
            <a class="link" href="/babyprofile">
              <h5 class="card-title">My Baby</h5>
            </a>
            <p class="card-text">Get started now. Add your new baby information to start tracking Your baby's growing everyday and you want to celebrate every milestone with him/her. </p>
          </div>
        </div>
      </div>

     
        <div class="col">
            <div class="card h-100">
                <a href="/feed/<%=findBaby%>/feed">
                    <img src="/img/feed.jpeg" class="card-img-top" alt="...">
                </a>
              <div class="card-body">
                <a class="link" href="/feed/<%=findBaby%>/feed">
                  <h5 class="card-title">Feeding</h5>
                </a>
                <p class="card-text">Breastfeeding, bottle-feeding, and solid-food trackers -- record and review all your feeding and nursing sessions, including both breast milk and formula.</p>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card h-100">
                <a href="/sleep/<%= findBaby %>/sleep ">
                    <img src="/img/sleep.jpeg" class="card-img-top" alt="...">
                </a>
              <div class="card-body">
                <a class="link" href="/sleep/<%= findBaby %>/sleep ">
                  <h5 class="card-title">Sleep</h5>  
                </a>
                <p class="card-text">Sleep tracker: Records not only time of each session, but location such as crib, car seat, stroller, and more.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
                <a href="/diaper/<%=findBaby%>/diaper">
                    <img src="/img/diaper.jpeg" class="card-img-top" alt="...">
                </a>
              <div class="card-body">
                <a class="link" href="/diaper/<%=findBaby%>/diaper">
                  <h5 class="card-title">Diaper</h5>  
                </a>
                <p class="card-text">Diaper tracker: Keep track of each diaper change -- dry, wet, or both.</p>
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="card h-100">
                <a href="/growth/<%=findBaby%>/growth">
                    <img src="/img/growth.jpeg" class="card-img-top" alt="...">
                </a>
              <div class="card-body">
                <a class="link" href="/growth/<%=findBaby%>/growth">
                  <h5 class="card-title">Growth</h5>    
                </a>
                <p class="card-text">Growth tracker: Allows you to record height, weight, and head circumference.</p>
              </div>
            </div>
          </div> 
    </div>
</div>

